

{{ $item := . }}

<div class="pub-journal">
  {{ $item.journal | markdownify | safeHTML }} · {{ $item.year }}
</div>

<div class="pub-title">
  {{ $item.title | markdownify | safeHTML }}
</div>

<div class="pub-authors">
  {{ $item.authors_text | markdownify | safeHTML }}
</div>

{{ if $item.links }}
  {{ range $item.links }}
    {{ if eq .text "DOI" }}
    <div class="pub-doi">
      DOI: <a href="{{ .url }}" target="_blank">{{ replace .url "https://doi.org/" "" }}</a>
    </div>
    {{ end }}
  {{ end }}
{{ end }}
